:root {
  --cyan-main: hsl(172, 67%, 45%);
  --cyan-dark: hsl(183, 100%, 15%);
  --cyan-d-gray-1: hsl(186, 14%, 43%);
  --cyan-d-gray-2: hsl(184, 14%, 56%);
  --cyan-l-gray-1: hsl(185, 41%, 84%);
  --cyan-l-gray-2: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}
